
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Covid Bilgilendirme Admin Girişi</title>

    <!-- Bootstrap CSS -->
    <link href="~/NiceAdmin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="~/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="~/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/NiceAdmin/css/style.css" rel="stylesheet">
    <link href="~/NiceAdmin/css/style-responsive.css" rel="stylesheet" />

</head>

<body class="login-img3-body">

    <div class="container">
        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            <div class="login-form">
                <div class="login-wrap">
                    <p class="login-img"><i class="icon_lock_alt"></i></p>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_profile"></i></span>
                        <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="UserName" autofocus>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                        <input type="password" class="form-control" placeholder="Şifre" name="Password">
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me">Beni Hatırla
                        <span class="pull-right"> <a href="#">Şifrenizi mi unuttunuz ?</a></span>
                    </label>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" id="submit">Giriş Yap</button>

                </div>
            </div>
        }

        <div class="text-right">
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </div>

</body>
</html>