@model CovidBilgilendirme.Models.classes.CovidAbout

@{
    ViewBag.Title = "AboutCovid";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i>Covid-19 Hakkında</h3>
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="/Admin/Index/">Home</a></li>
            <li><i class="fa fa-laptop"></i>Covid-19 Hakkında</li>
        </ol>
    </div>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th><i class="icon_pencil-edit"></i> Başlık</th>
            <th><i class="icon_image"></i> Fotoğraf</th>
            <th><i class="icon_documents_alt"></i> Açıklama</th>
        </tr>
    </thead>
    <tbody>

        <tr class="success">
            <td>@Model.CovidTitle</td>
            <td><img src="@Model.CovidImageUrl" class="picture"/></td>
            <td>@Model.CovidDescription</td>
        </tr>
    </tbody>
</table>
<a class="btn btn-primary textBold" href="/Admin/GetAboutCovid/@Model.ID">Güncelle<i class="icon_refresh leftSpace"></i></a>


