
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header"><i class="fa fa-laptop"></i> Covid-19</h3>
        <ol class="breadcrumb"> 
            <li><i class="fa fa-home"></i><a href="/Admin/Index/">Home</a></li>
            <li><i class="fa fa-laptop"></i>Covid-19</li>
        </ol>
    </div>
</div>
