@model List<CovidBilgilendirme.Models.classes.View_TavsiyeList>

<div class="doctors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>Doktorlar Ne Söylüyor..</h2>
                </div>
            </div>
        </div>
        <div class="row d_flex">
            @foreach (var advice in Model)
            {
                <div class=" col-md-6">
                    <div id="ho_efcet" class="reader text_align_center" style="height:450px">
                        <i><img src="@advice.DoktorFotograf" alt="#" style="height:115px;width:115px" /></i>
                        <h3>@advice.DoktorAdiSoyadi</h3>
                        <p>
                            @if (advice.TavsiyeIcerik.Length > 410)
                            {
                                @advice.TavsiyeIcerik.Substring(0, advice.TavsiyeIcerik.Substring(0, 410).LastIndexOf(" "))
                            }
                            else
                            {
                                @advice.TavsiyeIcerik
                            }
                            <strong>...</strong>
                        </p>
                        <span><img src="~/Content/images/do.png" alt="#" style="margin-bottom:10px" /></span>
                        <a href="/Advice/Index/" style="margin-bottom:20px;color:darkred;font-weight:bold">Devamını Oku</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
